.input-wrapper{
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 4px;
    height: 120px;
    width: 265px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
   
}


.result-wrapper h1{
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    padding-right: 10px;

}

.result-wrapper, .text{
    background-color: #fff;
}

.text h3{
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    padding-right: 10px;
}